In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/competitive-data-science-predict-future-sales/items.csv
/kaggle/input/competitive-data-science-predict-future-sales/sample_submission.csv
/kaggle/input/competitive-data-science-predict-future-sales/item_categories.csv
/kaggle/input/competitive-data-science-predict-future-sales/sales_train.csv
/kaggle/input/competitive-data-science-predict-future-sales/shops.csv
/kaggle/input/competitive-data-science-predict-future-sales/test.csv

In [2]:
items = pd.read_csv("/kaggle/input/competitive-data-science-predict-future-sales/items.csv")
item_categories = pd.read_csv("/kaggle/input/competitive-data-science-predict-future-sales/item_categories.csv")
sales_train = pd.read_csv("/kaggle/input/competitive-data-science-predict-future-sales/sales_train.csv")
test = pd.read_csv("/kaggle/input/competitive-data-science-predict-future-sales/test.csv")
shops = pd.read_csv("/kaggle/input/competitive-data-science-predict-future-sales/shops.csv")
sample_submission = pd.read_csv("/kaggle/input/competitive-data-science-predict-future-sales/sample_submission.csv")

In [3]:
print(items.columns)
print(item_categories.columns)
print(shops.columns)
print(sales_train.columns)
print(test.columns)

Index(['item_name', 'item_id', 'item_category_id'], dtype='object')
Index(['item_category_name', 'item_category_id'], dtype='object')
Index(['shop_name', 'shop_id'], dtype='object')
Index(['date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_cnt_day'],
      dtype='object')
Index(['ID', 'shop_id', 'item_id'], dtype='object')

In [4]:
features = ['ID', 'shop_id', 'item_id', 'item_category_id', 'item_category_name', 'item_cnt_day', 'item_price', 'date', 'date_block_num', 'item_name', 'shop_name']

info = pd.DataFrame(columns = features)

info.ID = test.ID
info.shop_id = test.shop_id
info.item_id = test.item_id
# for i in features :
#    if i in items.columns

In [5]:
df_items = []
df_names = []
df_item_category_name = []

i = 0

for i in info.item_id :
    if i in items.item_id :
        df_items.append(items.item_category_id[i])
        df_names.append(items.item_name[i])
        i += 1

info.item_category_id = df_items
info.item_name = df_names

for i in info.item_category_id : 
    if i in item_categories.item_category_id : 
        df_item_category_name.append(item_categories.item_category_name[i])
        i += 1

info.item_category_name = df_item_category_name

In [6]:
item_categories.iloc[55]

item_category_name    Музыка - CD локального производства
item_category_id                                       55
Name: 55, dtype: object

In [7]:
df_item_cnt = []
i = 0

for i in info.item_id : 
    if i in sales_train.item_id : 
        df_item_cnt.append(sales_train.item_cnt_day[i])
        i += 1

info.item_cnt_day = df_item_cnt
sales_train.iloc[5233]

date              11.01.2013
date_block_num             0
shop_id                   25
item_id                16227
item_price             379.0
item_cnt_day             3.0
Name: 5233, dtype: object

In [8]:
df_price = []
df_date = []
df_date_block = []

i = 0

for i in info.item_id :
    if i in sales_train.item_id :
        df_date.append(sales_train.date[i])
        df_date_block.append(sales_train.date_block_num[i])
        df_price.append(sales_train.item_price[i])
        i += 1

info.item_price = df_price
info.date = df_date
info.date_block_num = df_date_block

sales_train.iloc[5037]

date              06.01.2013
date_block_num             0
shop_id                   25
item_id                17860
item_price             399.0
item_cnt_day             1.0
Name: 5037, dtype: object

In [9]:
df_shop_name = []

for i in info.shop_id : 
    if i in shops.shop_id : 
        df_shop_name.append(shops.shop_name[i])
        i += 1

info.shop_name = df_shop_name

In [10]:
shops

                                          shop_name  shop_id
0                     !Якутск Орджоникидзе, 56 фран        0
1                     !Якутск ТЦ "Центральный" фран        1
2                                  Адыгея ТЦ "Мега"        2
3                    Балашиха ТРК "Октябрь-Киномир"        3
4                          Волжский ТЦ "Волга Молл"        4
5                            Вологда ТРЦ "Мармелад"        5
6                        Воронеж (Плехановская, 13)        6
7                            Воронеж ТРЦ "Максимир"        7
8                      Воронеж ТРЦ Сити-Парк "Град"        8
9                                 Выездная Торговля        9
10                       Жуковский ул. Чкалова 39м?       10
11                       Жуковский ул. Чкалова 39м²       11
12                              Интернет-магазин ЧС       12
13                              Казань ТЦ "Бехетле"       13
14                          Казань ТЦ "ПаркХаус" II       14
15                             Калуга ТРЦ "XXI век"       15
16                                 Коломна ТЦ "Рио"       16
17                    Красноярск ТЦ "Взлетка Плаза"       17
18                             Красноярск ТЦ "Июнь"       18
19                            Курск ТЦ "Пушкинский"       19
20                              Москва "Распродажа"       20
21                           Москва МТРЦ "Афи Молл"       21
22                               Москва Магазин С21       22
23                 Москва ТК "Буденовский" (пав.А2)       23
24                 Москва ТК "Буденовский" (пав.К7)       24
25                              Москва ТРК "Атриум"       25
26                      Москва ТЦ "Ареал" (Беляево)       26
27                   Москва ТЦ "МЕГА Белая Дача II"       27
28                  Москва ТЦ "МЕГА Теплый Стан" II       28
29               Москва ТЦ "Новый век" (Новокосино)       29
30                           Москва ТЦ "Перловский"       30
31                          Москва ТЦ "Семеновский"       31
32                       Москва ТЦ "Серебряный Дом"       32
33                                Мытищи ТРК "XL-3"       33
34                             Н.Новгород ТРЦ "РИО"       34
35                      Н.Новгород ТРЦ "Фантастика"       35
36            Новосибирск ТРЦ "Галерея Новосибирск"       36
37                            Новосибирск ТЦ "Мега"       37
38                                   Омск ТЦ "Мега"       38
39            РостовНаДону ТРК "Мегацентр Горизонт"       39
40  РостовНаДону ТРК "Мегацентр Горизонт" Островной       40
41                           РостовНаДону ТЦ "Мега"       41
42                           СПб ТК "Невский Центр"       42
43                                  СПб ТК "Сенная"       43
44                              Самара ТЦ "Мелодия"       44
45                             Самара ТЦ "ПаркХаус"       45
46                            Сергиев Посад ТЦ "7Я"       46
47                           Сургут ТРЦ "Сити Молл"       47
48                     Томск ТРЦ "Изумрудный Город"       48
49                            Тюмень ТРЦ "Кристалл"       49
50                               Тюмень ТЦ "Гудвин"       50
51                        Тюмень ТЦ "Зеленый Берег"       51
52                             Уфа ТК "Центральный"       52
53                                 Уфа ТЦ "Семья" 2       53
54                                  Химки ТЦ "Мега"       54
55                         Цифровой склад 1С-Онлайн       55
56                             Чехов ТРЦ "Карнавал"       56
57                          Якутск Орджоникидзе, 56       57
58                          Якутск ТЦ "Центральный"       58
59                           Ярославль ТЦ "Альтаир"       59

In [11]:
sales_train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0

In [12]:
Y = sales_train['item_cnt_day']
features = ['date', 'date_block_num','shop_id', 'item_id', 'item_price']
X = sales_train[features]

In [13]:
X

               date  date_block_num  shop_id  item_id  item_price
0        02.01.2013               0       59    22154      999.00
1        03.01.2013               0       25     2552      899.00
2        05.01.2013               0       25     2552      899.00
3        06.01.2013               0       25     2554     1709.05
4        15.01.2013               0       25     2555     1099.00
...             ...             ...      ...      ...         ...
2935844  10.10.2015              33       25     7409      299.00
2935845  09.10.2015              33       25     7460      299.00
2935846  14.10.2015              33       25     7459      349.00
2935847  22.10.2015              33       25     7440      299.00
2935848  03.10.2015              33       25     7460      299.00

[2935849 rows x 5 columns]

In [14]:
Y

0          1.0
1          1.0
2         -1.0
3          1.0
4          1.0
          ...
2935844    1.0
2935845    1.0
2935846    1.0
2935847    1.0
2935848    1.0
Name: item_cnt_day, Length: 2935849, dtype: float64

In [15]:
X.head()

         date  date_block_num  shop_id  item_id  item_price
0  02.01.2013               0       59    22154      999.00
1  03.01.2013               0       25     2552      899.00
2  05.01.2013               0       25     2552      899.00
3  06.01.2013               0       25     2554     1709.05
4  15.01.2013               0       25     2555     1099.00

In [16]:
#check date type 
type(X['date'][0])

str

In [17]:
# change string timestamp to datetime
from datetime import datetime 

def timestamp(x):
    return datetime.strptime(x, "%d.%m.%Y")

In [18]:
X['date'] = X['date'].apply(timestamp)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
X.sort_values(by='date', inplace = True)

/opt/conda/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [20]:
X

              date  date_block_num  shop_id  item_id  item_price
49800   2013-01-01               0       18     5823      2500.0
29784   2013-01-01               0       27     5573       849.0
35476   2013-01-01               0        7     1006       399.0
8330    2013-01-01               0       19    17707       899.0
57384   2013-01-01               0       14    19548       149.0
...            ...             ...      ...      ...         ...
2885098 2015-10-31              33       41    21386       169.0
2930981 2015-10-31              33       21      988       199.0
2885097 2015-10-31              33       41    21377       169.0
2930993 2015-10-31              33       22    10207      1199.0
2928850 2015-10-31              33       24     3042      3199.0

[2935849 rows x 5 columns]

In [21]:
from sklearn.tree import DecisionTreeRegressor

counts_model = DecisionTreeRegressor(random_state=1)

#counts_model.fit(X,Y)